# Rename this file to '.env' and fill out your Gmail App Password
# Do NOT commit your real .env file anywhere!

EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_digit_google_app_password
PORT=3001
